{% extends "layout.html" %}
{% block content %}
<h2>Projects</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Keywords</th>
            <th>Recency</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO: Populate dynamically -->
        <tr>
            <td>Example Project</td>
            <td>motivation, hustle</td>
            <td>7 days</td>
            <td>true</td>
            <td><a href="/project/1">View</a></td>
        </tr>
    </tbody>
</table>

<button>Create New Project</button>
{% endblock %}
